@model IEnumerable<Cable.Models.Job.Models.JobListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Jobs Completed</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.JobId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JobType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerId)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.JobDate)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
        @Html.ActionLink("Detail", "Detail", new { id = item.JobId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.JobId }))
    </td>
</tr>
}

</table>
